<footer>
  <nav class="grid align-middle">
    <div class="cell">
      <a href="http://www.undp.org">
        <amp-img alt="UNDP logo"
          src="{{@root.root}}assets/img/logo-white-undp.png"
          layout="fixed"
          width="49"
          height="99">
        </amp-img>
      </a>
    </div>
    
    <div class="cell">
      <div class="grid small-vertical small">
        <div class="cell text-center">
          &copy; 2018 {{this.labels.undpLong}}
        </div>
        <div class="cell text-center">
          <a href="http://www.undp.org/about-us/contact-us">{{this.labels.contactUs}}</a>
        </div>
      </div>
      
    </div>
    
 </nav>
</footer>
<!-- coded by &#x16C3;&#x16A2;&#x16B1;&#x16C6; &#x16B4;&#x16BC;&#x16B1;&#x16C6;&#x16D4;&#x16A2;&#x16BF;&#x16AB;&#x16A1; -->
