<!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-NZX8FRD&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>

{{!-- <header>
  <nav>
    <ul class="uppercase">
      <li><a href="{{@root.root}}">{{#ifequal this.language "en"}}<strong>En</strong>{{else}}En{{/ifequal}}</a></li>
      <li><a href="{{@root.root}}es/">{{#ifequal this.language "es"}}<strong>Es</strong>{{else}}Es{{/ifequal}}</a></li>
      <li><a href="{{@root.root}}fr/">{{#ifequal this.language "fr"}}<strong>Fr</strong>{{else}}Fr{{/ifequal}}</a></li>      
    </ul>
  </nav>  
</header>--}}
