<main>

  <section id="intro">

    <div class="overlay">
      <a href="http://www.undp.org">
        <amp-img alt="UNDP logo" src="{{@root.root}}assets/img/logo-white-undp.png" layout="fixed" width="49" height="99">
        </amp-img>
      </a>
      <div class="content">
        <h1>{{this.title}}</h1>
        <p>{{this.subtitle}}</p>
      </div>
    </div>

  </section>

  <section class="plan-download">
    <p>
      <a class="button nowrap" href="http://undocs.org/{{this.language}}/DP/2017/38" target="_blank" rel="noopener">
          {{this.labels.downloadPlan}}
      </a>
    </p>
  </section>

  <section>
    <amp-img alt="Woman staying behind solar oven" src="{{@root.root}}assets/img/interstitial1-narrow.jpg" layout="responsive" width="375" height="576" media="(max-width: 639px)">
    </amp-img>
    <amp-img alt="Woman staying behind solar oven" src="{{@root.root}}assets/img/interstitial1-wide.jpg" layout="responsive" width="1440" height="694" media="(min-width: 640px)">
    </amp-img>
  </section>

  <section id="vision">
    <div class="grid">
      <div class="cell">
        <div class="text-center">
          <h1>UNDP's vision</h1>
          <p>Help countries achieve sustainable development across diverse contexts by: </p>
        </div>
        <div class="grid align-middle">
          <div class="cell shrink">
            <amp-img alt="green right arrow" src="{{@root.root}}assets/img/green-arrow-large.png" width="39" height="40" layout="fixed"></amp-img>
          </div>
          <div class="cell grow">Ending poverty</div>
        </div>
        <div class="grid align-middle">
          <div class="cell shrink">
            <amp-img alt="green right arrow" src="{{@root.root}}assets/img/red-arrow-large.png" width="39" height="40" layout="fixed"></amp-img>
          </div>
          <div class="cell grow">Quickly modernizing key sectors for sustainable growth</div>
        </div>
        <div class="grid align-middle">
          <div class="cell shrink">
            <amp-img alt="green right arrow" src="{{@root.root}}assets/img/blue-arrow-large.png" width="39" height="40" layout="fixed"></amp-img>
          </div>
          <div class="cell">Enabling countries to prevent crises and recover from them faster</div>
        </div>
      </div>
    </div>
  </section>

  <section id="interstitial2" class="quote">
    <div class="grid align-middle expanded small-vertical">
      <div class="cell shrink">
        <amp-img alt="SDG wheel" src="{{@root.root}}assets/img/sdg-wheel.png" width="150" height="150" layout="fixed"></amp-img>
      </div>
      <div class="cell h1 text-center">
        <p>UNDP, like all parts of the UN system, shares the founding principles of ‘Leave no one behind’ and ‘Reach the furthest behind first’.</p>
      </div>
    </div>
  </section>

  <section>
    <div class="grid">
      <div class="cell">
        <div class="text-center">
          <h1>Transforming for a New Era</h1>
        </div>
        <p>The world is changing so quickly and so dramatically that our institutions are struggling to keep up. At the same time, every country has committed to a bold plan – set out in the 2030 Agenda – to end poverty, fight inequality and tackle climate change. </p>
        <p>
          As the United Nations changes to meet new challenges and opportunities, more is demanded of UNDP. And we are rising to the challenge. Our new Strategic Plan is ‘reform-ready’, leaving UNDP well-placed to embody wider UN reforms. The four-year Plan for the first time is framed around the Sustainable Development Goals (SDGs). This unprecedented alignment will create a more focused, efficient, innovative, and dynamic UNDP.
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="grid">
      <div class="cell">
        <div class="text-center">
          <h1>The UNDP Advantage</h1>
        </div>
        <p>UNDP’s comparative advantage will continue to be our unique combination of universal presence, crisis response capacity and responsiveness, and our ability to work across sectors. As global momentum grows to eliminate all forms of poverty, our advantage will continue to evolve to meet countries’ needs – now and for years to come.</p>
      </div>
    </div>
  </section>

  <section>
    <div class="grid">
      <div class="cell text-center">
        <a href="http://www.undp.org/sustainable-development-goals">
          <amp-img alt="SDG wheel" src="{{@root.root}}assets/img/sdg-wheel-color.png" width="308" height="308" layout="fixed" media="(max-width: 639px)"></amp-img>
        </a>
        {{#repeat 18}} {{#if @index}}
        <a href="http://www.undp.org/sustainable-development-goals">
          <amp-img alt="SDG {{@index}} icon" src="{{@root.root}}assets/img/SDG-{{@index}}-{{this.language}}.png" width="75" height="75" layout="fixed" media="(min-width: 640px)"></amp-img>
        </a>
        {{/if}} {{/repeat}}
      </div>
    </div>
  </section>

  <section>
    <div class="grid">
      <div class="cell">
        <div class="text-center">
          <h1>Stronger Partnerships</h1>
        </div>
        <p>For over 50 years, UNDP has been a go-to organization for countries that want to make significant and sustained progress on human development. UNDP’s ability to advise, connect and collaborate with global partners has been a major strength that has helped to reduce poverty numbers dramatically – by almost 50% since 1990. But 650 million people still live in poverty. To reach the last mile in ending poverty, we need to find new ways to work together. </p>
        <p>
          The breadth and depth of UNDP’s partnerships is already unparalleled. But the challenge the world faces requires even more. To better help the countries and people we serve, UNDP will build new and stronger partnerships with governments, the private sector, international financial institutions, non-profit organizations, academia, and more. The 2030 Agenda, with its targets and deadline, gives us a clear foundation to forge longer-term partnerships.
        </p>
      </div>
    </div>
  </section>

  <section id="interstitial3" class="quote">
    <div class="grid align-middle expanded small-vertical">
      <div class="cell shrink">
        <amp-img alt="" src="{{@root.root}}assets/img/circles-icon.png" width="161" height="160" layout="fixed"></amp-img>
      </div>
      <div class="cell h1 text-center">
        <p>The resources and expertise needed to achieve the SDGs are not contained within the UN system alone.</p>
        <p>– Achim Steiner</p>
      </div>
    </div>
  </section>

  <section id="solutions">
    <div class="grid">
      <div class="cell">
        <div class="text-center">
          <h1>Signature Solutions: A New Way to Focus</h1>
          <p>Focusing does not mean segmenting. Together with partners across the UN system and beyond, UNDP will implement a modular set of Signature Solutions. These Solutions will build on UNDP’s strengths and expertise to help countries reach the SDGs. Because the six Solutions are interrelated, we can tailor a unique combination of Solutions to best meet each country’s needs.</p>
        </div>
      </div>
    </div>

    <div class="grid small-vertical">
      <div class="cell">
        <div class="grid vertical text-center">
          <div class="cell">
            <p>
              <amp-img alt="" src="{{@root.root}}assets/img/poverty-icon.png" width="231" height="231" layout="fixed"></amp-img>
            </p>
          </div>
          <div class="cell">
            <p class="uppercase sdg4"><strong>Poverty</strong></p>
            <p>
              Our central mission is to help countries end poverty. This Solution will focus on tackling factors that make people poor, or that prevent them from emerging – and staying out – of poverty. By addressing the many economic, environmental and social elements of poverty, our work will help to protect the most vulnerable, create new jobs, and generate further resources for the SDGs.</p>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="grid vertical text-center">
          <div class="cell">
            <p>
              <amp-img alt="" src="{{@root.root}}assets/img/governance-icon.png" width="231" height="231" layout="fixed"></amp-img>
            </p>
          </div>
          <div class="cell">
            <p class="uppercase sdg17"><strong>Governance</strong></p>
            <p>Development happens best when government functions well – when it is effective, fair, and for everyone. We will support the building and strengthening of societies where all people benefit from peace and justice. We will help countries to provide services, establish fair legal systems, and fight corruption and discrimination.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid small-vertical">
      <div class="cell">
        <div class="grid vertical text-center">
          <div class="cell">
            <p>
              <amp-img alt="" src="{{@root.root}}assets/img/resilience-icon.png" width="231" height="231" layout="fixed"></amp-img>
            </p>
          </div>
          <div class="cell">
            <p class="uppercase sdg9"><strong>Resilience</strong></p>
            <p>
              A central part of sustainable development is the ability of countries and communities to avoid crises, and quickly return to stability when they occur. This Solution will help countries achieve lasting peace, and reduce the risk of disasters and adapt to environmental destruction – especially for vulnerable groups. We will ensure that humanitarian and development actors work together for the lasting benefit of people affected.</p>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="grid vertical text-center">
          <div class="cell">
            <p>
              <amp-img alt="" src="{{@root.root}}assets/img/environment-icon.png" width="231" height="231" layout="fixed"></amp-img>
            </p>
          </div>
          <div class="cell">
            <p class="uppercase sdg13"><strong>Environment</strong></p>
            <p>Sustainable development is impossible if we fail to protect our environment. While we work to solve pressing development challenges such as extreme poverty, climate change, and the shortage of food and clean water, we will act to support biodiversity, conservation, reforestation, and indigenous land rights.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid small-vertical">
      <div class="cell">
        <div class="grid vertical text-center">
          <div class="cell">
            <p>
              <amp-img alt="" src="{{@root.root}}assets/img/energy-icon.png" width="231" height="231" layout="fixed"></amp-img>
            </p>
          </div>
          <div class="cell">
            <p class="uppercase sdg11"><strong>Energy</strong></p>
            <p>
              Energy is an essential prerequisite for development. Our work in this area aims to provide universal access to clean, affordable and sustainable energy, leveraging private investments to maximize the ways to generate and deliver renewable energy throughout the world.</p>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="grid vertical text-center">
          <div class="cell">
            <p>
              <amp-img alt="" src="{{@root.root}}assets/img/gender-icon.png" width="231" height="231" layout="fixed"></amp-img>
            </p>
          </div>
          <div class="cell">
            <p class="uppercase sdg5"><strong>Gender</strong></p>
            <p>Despite progress, gender equality remains a long way off. This Solution supports the reform of laws, institutions and policies. We will work to change attitudes and behaviours so that women and girls can exercise their rights. We will make it easier for them to access services and infrastructure, get education and decent jobs, and receive equal pay.</p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="interstitial4" class="quote">
    <div class="grid align-middle expanded small-vertical">
      <div class="cell shrink">
        <amp-img alt="" src="{{@root.root}}assets/img/gender-icon-white.png" width="130" height="184" layout="fixed"></amp-img>
      </div>
      <div class="cell h1 text-center">
        <p>Under the new Plan, we have set aside 15% of our budget for gender-dedicated programmes across all areas of work: a significant investment to back up our commitment to gender equality.</p>
      </div>
    </div>
  </section>

  <section>
    <div class="grid">
      <div class="cell">
        <div class="text-center">
          <h1>Two Platforms: Think Global, Act Local</h1>
        </div>
        <p>UNDP is developing a new, two-tier approach designed for both specificity and scale. Country Support Platforms will function at country level to provide integrated solutions for complex challenges. The Global Platform comprises UNDP’s worldwide knowledge and technical expertise. Internationally, we provide and support high-level innovation and policy advisory services. It is UNDP’s thought leadership and experience in a variety of development contexts that allows us to connect the best-of-the-best in all areas, and create stronger partnerships within the UN development system and beyond.
        </p>
      </div>
    </div>
  </section>

  <section id="results">
    <div class="grid">
      <div class="cell">
        <div class="text-center">
          <amp-img alt="" src="{{@root.root}}assets/img/globe-icon.png" width="252" height="314" layout="fixed"></amp-img>
          <h1>Results are Everything</h1>
        </div>
        <p>Good intentions don’t improve lives. UNDP is rightly judged by those we serve – and our partners – on how well we’re able to measure and deliver results. That is why the new UNDP will include a refined business model to boost performance through a fully streamlined management structure; to provide a clear comprehensive link between investment and return; and to spark innovation, as we explore new and scalable ways to deliver results for people and planet.
        </p>
      </div>
    </div>
  </section>

  <section id="joinus">
    <div class="grid align-bottom">
      <div class="cell shrink">
        <div class="text-center">  
          <h1>UNDP exists to make our world a fairer, safer and more prosperous place for everyone. Will you join us?</h1>
        </div>
      </div>
    </div>
  </section>
  
  <section>
   <p class="text-center">
      <a class="button nowrap sm" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fnew.undp.org&via=undp&hashtags=NewUNDP" target="_blank" rel="noopener">
         #NewUNDP
      </a>     
   </p>
   </section>
   
   <section>
   <p class="text-center sm">
      <a href="https://twitter.com/UNDP/"><i class="fa fa-2x fa-fw fa-twitter"></i></a>      
      <a href="https://www.linkedin.com/company/UNDP/"><i class="fa fa-2x fa-fw fa-linkedin"></i></a>      
      <a href="https://www.facebook.com/UNDP/"><i class="fa fa-2x fa-fw fa-facebook"></i></a>     
   </p>
  </section>
  
  
  <section class="plan-download">
    <p>
      <a class="button nowrap" href="http://undocs.org/{{this.language}}/DP/2017/38" target="_blank" rel="noopener">
          {{this.labels.downloadPlan}}
      </a>
    </p>
  </section>


</main>
